<!DOCTYPE html>
<html lang="en">
	<head>
		<title>passportJS sandbox</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<div class="main-header"> 
			<ul class="navigation"> 
				<li><a href="/">Home</a></li>
				<li><a href="/home">User Area</a></li>
				<li><a href="/register">Register</a></li> 
				<li><a href="/signin">Login</a></li> 
				<li><a href="/logout">Logout</a></li> 
			</ul> 
		</div>

		<div class="main-content">
		{{{ body }}}
		</div>

	</body>
</html>
