<!DOCTYPE html>
<html>
 
<head>
    <title>You are logged in</title>
</head>
 
<body>
    <h1>Signed In</h2>
    <p><b>Hurray!</b> - you are logged in! Viewing this page requires successful authentication.</p>
</body>
</html>