<!DOCTYPE html>
<html>
 
<head>
    <title>Passport authentication demo</title>
</head>
 
<body>
    <h1>Basic authentication management</h1>
    <p>This site demonstrates a basic user registration and login management system.</p>
</body>
</html>