* {
  margin: 0;
  padding: 0;
}

html {
  font: 62.5% "segoe ui", helvetica, arial, sans-serif;
  background-color: #fff;
}

body {
  font-size: 1.6rem;
}
h1,h2,h3,h4,h5,h6{
  margin-bottom:0.3rem;
}
.main-header {
  background-color: #dadada;
  color: #fff;
  padding: 2rem;
}

.main-content{
  padding:2rem;
}

.navigation {
  margin:1rem;
}

.navigation li {
  display: inline-block;
  margin-right: 1rem;
}